@import "tailwindcss";

@layer base {
  * {
    border-color: rgba(0, 0, 0, 0.08);
  }
  
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    background-color: #121214;
    color: #171717;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  ::selection {
    background-color: #18181b;
    color: #fafafa;
  }
}
